@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');
body {
    width: 100vw;
    font-family: 'Ubuntu', sans-serif;
}

.nav {
    float:right;
    margin-top:40px;
    
}

.nav a{
    color: black;
}

#name {
    text-align: bottom;
    margin-top: 27px;
    margin-left: 10px;
}

#name-tag {
    margin-left: 27px;
}

#header {
    background-color: rgba(158, 140, 232, 0.4);
}

#section2 h1, #section2 p{
    text-align: center;
}

.section{
    min-height: 500px;
    overflow: hidden;
    padding-top: 1px;
    margin-top: 1px;
    
    
}

.wrap{

    background-color:rgba(200,200,200,0.5);
    margin-right: 400px;
}

.wrap1{
    color:white;
    background-color:rgba(60,60,60,0.5);
    max-width:100%;
    max-height:50%

}

#section1{
    background-image:url('../imgs/bewitching-elise.jpg');
    background-size:cover;
    background-position: center top;
    background-repeat: no-repeat;
    margin-top:0;
    min-width:100%;

}



#section2 img {
    height: auto;
    width: auto;
    max-width: 100%;
    max-height: 100%;
    
}

#section2 h3 {
    padding: 10px;
}

.about-content h1 {
    margin-top:20px;

}

#section1AB {
    background-image:url("../imgs/death-blossom-khazix.jpg");
    background-size:cover;
    background-position: center top;
    background-repeat: no-repeat;
    min-width:100%;
    min-height: 500px;
    overflow: hidden;
    padding-top: 1px;
    margin-top: 0;
}

#firstP {
    margin-top:100px;
}

.about-content p {
    margin: 20px;
    margin-top:5px;
    font-size: large;
}